body{
    margin: 0;
}

img{
	width: 272px;
	height: 92px;
}

.nav-list{
    list-style: none;
    margin-left: 1100px;
    padding: 0px;
    font-size:13px;
    line-height: 24px;
    text-decoration: none;    
}

.nav-list-text{
    text-decoration: none;
    font-size: 15px;
    color: #000000;
}

.nav-list li{
    float: left;
    padding: 8px 10px 0px;
}

.icon{
     height: 24px;
     width: 24px;
}

.search-field {
    background-image: url("../img/micro.png");
    background-position: right;
    background-repeat: no-repeat;
    vertical-align: middle;
    line-height: 34px;
    display: flex;
    box-sizing: border-box;
    background-size: 4%;
    position: relative;
    margin: 0 auto;
    border-style: none;
    display: pointer;
    width: 584px;
    height: 39px;
    outline: none;
    padding-top: 5px 0 0 0;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 1px 1px 0px #e0e0e0;
    border-radius: 4px;
}

.search-field:hover {
    box-shadow: 0px 1px 1px 1.5px #e0e0e0;
}

.vote{
	text-decoration: none;
}

h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.search-container{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    width: 584px;
    height: 44px;
    background-image: url("img/micro.png");
}

.google-search{
	text-decoration: none;
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    padding: 11px 18px;
    text-align: center;
    border-radius: 4px;
}

.google-search-con{
		margin: 40px 40px 40px 40px;
}

.container-drop-logo{
    position: relative;
    padding: 185px 0 0 0;
}

.footer-section{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 30px;
    margin-top: 123px;
}

.up-footer{
    height: 90px;
    padding-left:27px;
    color:#5f6368; 
    font-family:'Open Sans', sans-serif;
    font-weight:300; 
    font-size:13px; 
    letter-spacing: 0.1px;
}

.left-footer a{
    display: inline-block;
    text-decoration: none;
    color: #5f6368;
    padding-left: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.1px;
}

.right-footer a{
    display: inline-block;
    text-decoration: none;
    color: #5f6368;
    float: right;
    padding-right: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.15px;
}
